# ignore all data files except one needed for R script
*.csv
!Results.csv

# ignore figures
Figs
OldFigs

# ignore microsoft office files
*.xlsx
*.docx

# ignore R files
.Rhistory

# ignore LaTeX files
*.aux
*.log
*.pdf
*.tex

# ignore Makefile
Makefile

# ignore Report files
Report.*